@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body {
    font-family: 'Gabarito', sans-serif;
}
.styled-btn {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
    background-color: white;
    border: 1px solid rgba(100, 100, 100, 0.5);
    padding: 12px;
    transition: box-shadow 250ms;
    color: dodgerblue;
}
.styled-btn:hover {
    box-shadow: 3px 3px 3px black;
    transition: box-shadow 250ms;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: dodgerblue;
    text-shadow: 1px 1px black;
}
.navbar div {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}
.navbar h1 {
    justify-self: center;
    flex-grow: 1;
    text-align: center;
    margin: -5px
}