.info-block {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 5px;
  background-color: #F7F7F7;
  box-shadow: 2px 2px black;
  border-radius: 5px;
  margin: 20px;
}

.info-block:hover {
  box-shadow: 3px 3px 3px black;
  transition: box-shadow 200ms;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

table thead tr {
  background-color: black;
  color: #fff;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.addresses {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: bold;
  font-size: larger;
}

table a {
  text-decoration: none;
  font-weight: bold;
  color: dodgerblue;
  text-shadow: 1px 1px black;
}

table a:active {
  font-weight: normal;
}